---
import { type MarkdownLayoutProps } from 'astro';
import { GlobalTranslation } from '@/locales/global';
import Base from '@/templates/Base.astro';
import { events_getEntry } from '@/backend/database/events';
import Section from '@/components/astro-components/Section.astro';
import { EventPost } from '@/components/partials/EventPost';
import { type TEventFrontmatter } from '@/components/types';

export type Props = MarkdownLayoutProps<TEventFrontmatter>;

// Fetch blog and parse to html
const eventId = Astro
	.originPathname
	.split('/')
	.at(-2);
if (!eventId)
	throw new Error('Couldn\'t fetch event page URL!');

const eventEntry = events_getEntry(eventId);
if (!eventEntry)
	throw new Error('Couldn\'t fetch event entry from database!');

const title = `${eventEntry.title} - ${GlobalTranslation.siteName}`;
const description = `'${eventEntry.title}'`;
---

<Base
	head={{
		title,
		description
	}}
>
	<Section>
		<EventPost eventEntry={eventEntry}>
			<slot />
		</EventPost>
	</Section>
</Base>
