---
import { GlobalTranslation } from '@/locales/global';
import Base from '@/templates/Base.astro';
import { events_getEntry } from '@/backend/database/events';
import { events_getEventContent } from '@/backend/events';
import { marked } from 'marked';
import Section from '@/components/astro-components/Section.astro';
import { EventsPost } from '@/components/partials/EventsPost';

const { content: frontmatter } = Astro.props;

// Fetch blog and parse to html
const eventId = Astro.originPathname.split('/').at(-2);
if (!eventId)
throw new Error("Couldn't fetch event page URL!");

const eventEntry = events_getEntry(eventId);
if (!eventEntry)
	throw new Error('Couldn\'t fetch event entry from database!')
const eventPage = events_getEventContent(eventId);
if (!eventPage)
throw new Error('Couldn\'t fetch event page contents!');

const parsedContent = marked.parse(eventPage.content);

const title = `${eventEntry.title} - ${GlobalTranslation.siteName}`;
---

<Base head={{ title, description: frontmatter.description }}>
	<Section>
		<EventsPost eventEntry={eventEntry}>
			<article set:html={parsedContent} />
		</EventsPost>
	</Section>
</Base>
