---
import Section from '@/components/astro-components/Section.astro';
import { AdminErrorOverview } from '@/components/partials/admin/AdminErrorOverview';
import BaseAdmin from '@/templates/BaseAdmin.astro';

const { errorId = '-1' } = Astro.params;

let errorIdInt;

// Check if buildNumber is a valid number
try {

	errorIdInt = parseInt(errorId);
	if (!errorIdInt)
		throw new Error();

} catch {

	Astro.response.status = 400;
	Astro.response.statusText = 'bad-request';

}

---
<BaseAdmin
	head={{
		title: 'Submission ' + errorId,
		description: 'Seeing submission ' + errorId
	}}
>
	<Section
		center
		title={`Contact Submission ID '${errorId}'`}
	>
		<AdminErrorOverview
			submissionId={errorId}
			client:only="react"
		/>
	</Section>
</BaseAdmin>
