---
import Section from '@/components/astro-components/Section.astro';
import { AdminErrorSubmissionOverview } from '@/components/partials/admin/AdminErrorSubmissionOverview';
import { AdminOverviewButtons } from '@/components/partials/admin/AdminOverviewButtons';
import BaseAdmin from '@/templates/BaseAdmin.astro';

const { errorId = '-1' } = Astro.params;

let errorIdInt;
try {

	errorIdInt = parseInt(errorId);
	if (!errorIdInt)
		throw new Error();

} catch {

	Astro.response.status = 400;
	Astro.response.statusText = 'bad-request';

}

---
<BaseAdmin
	head={{
		title: 'Submission ' + errorId,
		description: 'Seeing submission ' + errorId
	}}
>
	<Section center title={`Contact Submission ID '${errorId}'`}>
		<AdminErrorSubmissionOverview submissionId={errorId} client:only="react" />
	</Section>
	<Section>
		<AdminOverviewButtons
			removeButtonPayload={{
				action: 'adminDeleteError',
				args: [errorId]
			}}
			client:only="react"
		/>
	</Section>
</BaseAdmin>
