---
import Section from '@/components/astro-components/Section.astro';
import { ContactCard } from '@/components/partials/ContactCard';
import { ContactConfig } from '@/shared/config/contact';
import { GlobalTranslation } from '@/locales/global';
import '@/styles/global.css';
import Base from '@/templates/Base.astro';
import { cGetUserLanguage, cSetUserLanguage } from '@/shared/cookies';
import { defaultLanguageCode, getTranslation } from '@/backend/i18n';

const translation = getTranslation(
	cGetUserLanguage(Astro) || defaultLanguageCode
);
if (!translation) {
	if (cGetUserLanguage(Astro) === null) {
		throw new Error('Could not load translations.');
	} else {
		cSetUserLanguage(null);
	}
}
---

<Base
	head={{
		title: translation.contact.title,
		description: GlobalTranslation.siteName
	}}
	translation={translation}
>
	<Section>
		<ContactCard contactData={ContactConfig.contacts.default!} client:only="react" />
	</Section>
</Base>
