---
import BaseLight from '@/templates/BaseLight.astro';
import { defaultAnimationDurationMs } from '@/frontend/windowTools';

const translation = Astro.locals.translation;
---
<BaseLight>

	<script is:inline define:vars={{ animDuration: defaultAnimationDurationMs }}>

		const tryRedirect = async () => {
			
			if (!navigator.onLine)
				return false;

			// Check if the server is also online
			try {

				const result = await fetch('/home/', { cache: 'no-cache' }); // Smallest resource currently
				if (result.ok && result.status === 200) {

					// Transition
					document.body.classList.replace('opacity-100', 'opacity-0');
					await new Promise((res) => setTimeout(res, animDuration));

					window.location.href = '/';
					return true;

				} else {

					return false;

				}

			} catch {

				return false;

			}
    };

    (async () => {
			if (!await tryRedirect()) {

				window.addEventListener('online', () => {
					tryRedirect();
				});

				setInterval(
					() => void tryRedirect(),
					5000
				);

			}
    })();
	</script>

	<h1 class="mt-15 w-10/12 text-center text-4xl font-bold">
		{translation.offline.title}
	</h1>
	<p class="newlines mt-3 w-10/12 text-center text-lg">
		{translation.offline.body}
	</p>
</BaseLight>
