---
import Section from '@/components/astro-components/Section.astro';
import { AdminContactSubmissionOverview } from '@/components/partials/admin/AdminContactSubmissionOverview';
import { AdminLogout } from '@/components/partials/admin/AdminLogout';
import Base from '@/templates/Base.astro';
import {
	cGetAuthToken,
	cGetUserLanguage,
	cSetUserLanguage
} from '@/shared/cookies';
import { defaultLanguageCode, getTranslation } from '@/backend/i18n';
import { jwtDecode, JwtPayload } from 'jwt-decode';
import { adminIsSetup } from '@/backend/admin';
import { Button } from '@/components/components/Button';

if (!adminIsSetup)
	return Astro.redirect('/');

const { submissionId = '-1' } = Astro.params;

const translation = getTranslation(
	cGetUserLanguage(Astro) || defaultLanguageCode
);
if (!translation) {
	if (cGetUserLanguage(Astro) === null) {
		throw new Error('Could not load translations.');
	} else {
		cSetUserLanguage(null);
	}
}

const token = cGetAuthToken(Astro);
if (token) {
	const tokenExpiry = ((await jwtDecode(token)) as JwtPayload).exp;
	if (tokenExpiry) {
		if (Date.now() - tokenExpiry * 1000 > 0) {
			return Astro.redirect('/admin/login/');
		}
	}
} else {
	return Astro.redirect('/admin/login/');
}

const prevUrl = decodeURIComponent(Astro.url.searchParams.get('prevUrl') ?? '');
---
<Base
	head={{
		title: 'Submission ' + submissionId,
		description: 'Seeing submission ' + submissionId
	}}
	translation={translation}
>
	<Section center title={`Contact Submission ID '${submissionId}'`}>
		<AdminContactSubmissionOverview submissionId={submissionId} client:only="react" />
		<div class:list={'pt-8'}>
			<Button
				actionPayload={{
					action: 'adminRemoveContactSubmission',
					args: [submissionId]
				}}
				client:only="react"
			>
				{'Remove'}
			</Button>

			<Button
				href={prevUrl ?? '/admin/home/'}
				client:only="react"
			>
				{'Back'}
			</Button>
		</div>
	</Section>
	<Section center>
		<AdminLogout client:only="react" />
	</Section>
</Base>
