---
import Section from '@/components/astro-components/Section.astro';
import { AdminContactOverview } from '@/components/partials/admin/AdminContactOverview';
import BaseAdmin from '@/templates/BaseAdmin.astro';

const { submissionId = '-1' } = Astro.params;
let submissionIdInt;
try {

	submissionIdInt = parseInt(submissionId);
	if (!submissionIdInt)
		throw new Error();

} catch {

	Astro.response.status = 400;
	Astro.response.statusText = 'bad-request';

}

---
<BaseAdmin
	head={{
		title: 'Submission ' + submissionId,
		description: 'Seeing submission ' + submissionId
	}}
>
	<Section center title={`Contact Submission ID '${submissionId}'`}>
		<AdminContactOverview submissionId={submissionId} client:only="react" />
	</Section>
</BaseAdmin>
