---
import Section from '@/components/astro-components/Section.astro';
import { AdminContactSubmissionOverview } from '@/components/partials/admin/AdminContactSubmissionOverview';
import { AdminLogout } from '@/components/partials/admin/AdminLogout';
import Base from '@/templates/Base.astro';
import { cGetAuthToken } from '@/shared/cookies';
import {
	jwtDecode,
	JwtPayload
} from 'jwt-decode';
import { adminIsSetup } from '@/backend/admin';
import { AdminOverviewButtons } from '@/components/partials/admin/AdminOverviewButtons';

if (!adminIsSetup)
	return Astro.redirect('/');

const { submissionId = '-1' } = Astro.params;


const token = cGetAuthToken(Astro);
if (token) {
	const tokenExpiry = ((await jwtDecode(token)) as JwtPayload).exp;
	if (tokenExpiry) {
		if (Date.now() - tokenExpiry * 1000 > 0) {
			return Astro.redirect('/admin/login/');
		}
	}
} else {
	return Astro.redirect('/admin/login/');
}
---
<Base
	head={{
		title: 'Submission ' + submissionId,
		description: 'Seeing submission ' + submissionId
	}}
>
	<Section center title={`Contact Submission ID '${submissionId}'`}>
		<AdminContactSubmissionOverview submissionId={submissionId} client:only="react" />
	</Section>
	<Section>
		<AdminOverviewButtons
			removeButtonPayload={{
				action: 'adminDeleteContactSubmission',
				args: [submissionId]
			}}
			client:only="react"
		/>
	</Section>
	<Section center>
		<AdminLogout client:only="react" />
	</Section>
</Base>
