---
---
<div
	id="loader"
	class="fixed inset-0 z-50 flex items-center justify-center transition-opacity duration-1000 opacity-100"
>
	<svg
		class="animate-spin"
		xmlns="http://www.w3.org/2000/svg"
		width="48"
		height="48"
		viewBox="0 0 24 24"
		fill="none"
		stroke="white"
		stroke-width="2"
		stroke-linecap="round"
		stroke-linejoin="round"
	>
		<circle
			class="opacity-25"
			cx="12"
			cy="12"
			r="10"
			stroke="currentColor"
			stroke-width="4"></circle>
		<path
			class="opacity-75"
			fill="currentColor"
			d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
	</svg>
	<script> // Removes loader when react is hydrated

		let loaderRemoved = false;
		const loader = document.getElementById('loader');
		if (!loader) {
			throw new Error('Could not find \'loader\' element!');
		}

		const removeLoader = () => {

			if (loaderRemoved)
				return;

			loader.classList.replace('opacity-100', 'opacity-0');
			loader.classList.add('pointer-events-none');
			setTimeout(() => loader.remove(), 1000);
			loaderRemoved = true;

		};

		window.addEventListener('react-hydrated', () => {

			removeLoader();
			window.removeEventListener('react-hydrated', removeLoader);

		});
		setTimeout(() => {

			if (!loaderRemoved) {

				removeLoader();
				window.removeEventListener('react-hydrated', removeLoader);
				console.error('Loader timed out after 2 seconds!');

			}

		}, 2000); // Timeout after 2s

		

	</script>
</div>