---
import Section from '@/components/astro-components/Section.astro';
import { AdminBlogEditor } from '@/components/partials/admin/AdminBlogEditor';
import { AdminContactTable } from '@/components/partials/admin/AdminContactTable';
import { AdminEventTable } from '@/components/partials/admin/AdminEventTable';
import BaseAdmin from '@/templates/BaseAdmin.astro';
import { AdminBuildTable } from '@/components/partials/admin/AdminBuildTable';
import { AdminErrorTable } from '@/components/partials/admin/AdminErrorTable';
---

<BaseAdmin
	head={{
		title: 'Admin',
		description: 'Admin page'
	}}
>
	<Section center title="Contact Form Submissions">
		<AdminContactTable client:only="react" />
	</Section>
	<Section center title="Manage Events">
		<AdminEventTable client:only="react" />
	</Section>
	<Section title="Manage Blog">
		<AdminBlogEditor client:only="react" />
	</Section>
	<Section title="Manage Builds" center>
		<AdminBuildTable client:only="react" />
	</Section>
	<Section title="Manage Errors" center>
		<AdminErrorTable client:only="react" />
	</Section>
</BaseAdmin>