---
import Section from '@/components/astro-components/Section.astro';
import { AdminBlogEditor } from '@/components/partials/admin/AdminBlogEditor';
import { AdminContactSubmissionTable } from '@/components/partials/admin/AdminContactSubmissionTable';
import { AdminEventsTable } from '@/components/partials/admin/AdminEventsTable';
import BaseAdmin from '@/templates/BaseAdmin.astro';
import { AdminBuildsTable } from '@/components/partials/admin/AdminBuildsTable';
import { AdminErrorsTable } from '@/components/partials/admin/AdminErrorsTable';
---

<BaseAdmin
	head={{
		title: 'Admin',
		description: 'Admin page'
	}}
>
	<Section center title="Contact Form Submissions">
		<AdminContactSubmissionTable client:only="react" />
	</Section>
	<Section center title="Manage Events">
		<AdminEventsTable client:only="react" />
	</Section>
	<Section title="Manage Blog">
		<AdminBlogEditor client:only="react" />
	</Section>
	<Section title="Manage Builds" center>
		<AdminBuildsTable client:only="react" />
	</Section>
	<Section title="Manage Errors" center>
		<AdminErrorsTable client:only="react" />
	</Section>
</BaseAdmin>