---
import Section from '@/components/astro-components/Section.astro';
import { AdminLogin } from '@/components/partials/admin/AdminLogin';
import Base from '@/templates/Base.astro';
---

<Base
	head={{
		title: 'Admin Login',
		description: 'Admin login page'
	}}
>
	<Section id="auth-form">
		<AdminLogin client:only="react" />
	</Section>
</Base>
