---
import Section from '@/components/astro-components/Section.astro';
import { AdminLoginForm } from '@/components/partials/admin/AdminLoginForm';
import BaseAdmin from '@/templates/BaseAdmin.astro';
---

<BaseAdmin
	head={{
		title: 'Admin',
		description: 'Admin page'
	}}
	noLogoutComponent={true}
>
	<Section id="auth-form">
		<AdminLoginForm client:only="react" />
	</Section>
</BaseAdmin>
